<!-- Navbar with breadcrumb -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <nav class="navbar" aria-label="breadcrumb ">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item"><a href="operation">Operation Page</a></li>
            <li class="breadcrumb-item"><a href="operation/product">Product</a></li>
        </ol>
    </nav>
</nav>
<!-- Form container -->
<div class="container py-3">
    <!-- Section title -->
    <h1 class="text-center">Product<small> CRUD</small></h1>
    <div class="btn-group my-2" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-info" [routerLink]="['/operation']">Volver</button>
    </div>
    <form [formGroup]="productFormContent">
        <!-- Id input container -->
        <div class="form-group">
            <label class="font-weight-bold" for="prdId">Id</label>
            <input formControlName="id" type="text" class="form-control" placeholder="Enter product id">
        </div>
        <!-- Name input container -->
        <div class="form-group">
            <label class="font-weight-bold" for="prdName">Name</label>
            <input formControlName="nombre" type="text" class="form-control" placeholder="Enter product name">
        </div>
        <!-- Price input container -->
        <div class="form-group">
            <label class="font-weight-bold" for="prdPrice">Price</label>
            <input formControlName="precio" type="text" class="form-control" placeholder="Enter product name">
        </div>
        
        <!-- Button group -->
        <div class="btn-group flex-wrap">
            <!-- Create button -->
            <button type="submit" class="btn btn-info" (click)="onPost()">Crear Producto</button>
            <!-- Get all button -->
            <button type="submit" class="btn btn-primary" (click)="onGets()">Obtener Productos</button>
            <!-- Get button -->
            <button type="submit" class="btn btn-info" (click)="onGet()">Obtener Producto</button>
            <!-- Delete button -->
            <button type="submit" class="btn btn-info" (click)="onDel()">Borrar Producto</button>
        </div>
    </form>
</div>
<!-- Result container -->
<div class="container">
    <div *ngIf="!loading">
        <table class="table table-striped table-bordered table-hover table-dark">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <!-- One product arrays -->
                <tr>
                    <th scope="row">{{ product.id }}</th>
                    <td>{{ product.prdName }}</td>
                    <td>{{ product.prdPrice }}</td>
                </tr>
                <!-- Many product arrays -->
                <tr *ngFor="let prd of products">
                    <th scope="row">{{ prd.id }}</th>
                    <td>{{ prd.prdName }}</td>
                    <td>{{ prd.prdPrice }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>