<!-- Navbar with breadcrumb -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <nav class="navbar" aria-label="breadcrumb ">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item"><a href="operation">Operation Page</a></li>
        </ol>
    </nav>
</nav>
<!-- Tabs of entity to do the operations -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link font-weight-bold" href="operation/product">Product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-weight-bold" href="operation/employee">Employee</a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-weight-bold" href="operation/custom">Custom</a>
    </li>
</ul>

<!-- Chaging components of the page -->
<div>
    <router-outlet></router-outlet>
</div>

<!-- Description -->
<div class="container py-5">
    <h1 class="my-4 text-dark font-weight-bold">Description of<span class="mx-2 font-italic text-warning">Jacaranda's
            Project</span></h1>
    <h3 class="text-muted my-2">Entity-Class</h3>
    <div class="row my-2">
        <div class="card col-md-4 col-md-left">
            <div class="card-header text-danger">
                Employee
            </div>
            <div class="card-body">
                <h5 class="card-title text-primary">Funtion</h5>
                <p class="card-text text-secondary">With supporting text below as a natural lead-in to additional content.
                </p>
                <a href="#" class="btn btn-info">Go <i class="fas fa-fighter-jet fa-lg mx-2 px-2"></i></a>
            </div>
        </div>
        <div class="card col-md-4 col-md-left">
            <div class="card-header text-danger">
                Customer
            </div>
            <div class="card-body">
                <h5 class="card-title text-primary">Funtion</h5>
                <p class="card-text text-secondary">With supporting text below as a natural lead-in to additional content.
                </p>
                <a href="#" class="btn btn-info">Go <i class="fas fa-fighter-jet fa-lg mx-2 px-2"></i></a>
            </div>
        </div>
        <div class="card col-md-8">
            <div class="card-header text-danger">
                Product
            </div>
            <div class="card-body">
                <h5 class="card-title text-primary">Funtion</h5>
                <p class="card-text text-secondary">With supporting text below as a natural lead-in to additional content.
                </p>
                <a href="#" class="btn btn-info">Go <i class="fas fa-fighter-jet fa-lg mx-2 px-2"></i></a>
            </div>
        </div>
    </div>
</div>