<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-center m-5">
            <img src="assets/img/notfound.png" alt="NotFound">
            <!-- <i class="fas fa-file-medical-alt fa-10x m-5"></i> -->
        </div>
        <div class="col-md-4 col-md-left m-3">
            <h1 class="text-danger font-weight-bold">404 NOT FOUND</h1>
            <h3 class="text-danger font-weight-bold">This site can’t be reached</h3>
            <a href="" class="btn btn-primary btn-lg btn-block">
                <i class="fas fa-long-arrow-alt-left"></i> Return to
                <i class="fas fa-home"></i>Home</a>
        </div>
    </div>
</div>