<!-- Navbar with breadcrumb -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <nav class="navbar" aria-label="breadcrumb ">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item"><a href="operation">Operation Page</a></li>
            <li class="breadcrumb-item"><a href="operation/product">Custom</a></li>
        </ol>
    </nav>
</nav>
<!-- Form container -->
<div class="container py-3">
    <h1 class="text-center">Custom<small> CRUD</small></h1>
    <div class="btn-group my-2" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-info" [routerLink]="['/operation']">Volver</button>
    </div>
    <form [formGroup]="customFormContent">
        <div class="form-group">
            <label class="font-weight-bold" for="prdId">Id</label>
            <input formControlName="id" type="text" class="form-control" placeholder="Enter custom id">
        </div>
        <div class="form-group">
            <label class="font-weight-bold" for="prdName">Name</label>
            <input formControlName="nombre" type="text" class="form-control" placeholder="Enter custom name">
        </div>
        <div class="form-group">
            <label class="font-weight-bold" for="prdPrice">Surname</label>
            <input formControlName="apellido" type="text" class="form-control" placeholder="Enter custom surname">
        </div>

        <div class="btn-group flex-wrap">
            <button type="submit" class="btn btn-info" (click)="onPost()">Crear Cliente</button>
            <button type="submit" class="btn btn-primary" (click)="onGets()">Obtener Clientes</button>
            <button type="submit" class="btn btn-info" (click)="onGet()">Obtener Cliente</button>
            <button type="submit" class="btn btn-info" (click)="onDel()">Borrar Cliente</button>
        </div>
    </form>
</div>
<!-- Result container -->
<div class="container">
    <div *ngIf="!loading">
        <table class="table table-striped table-bordered table-hover table-dark">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                </tr>
            </thead>
            <tbody>
                <!-- One custom arrays -->
                <tr>
                    <th scope="row">{{ custom.cusId }}</th>
                    <td>{{ custom.cusName }}</td>
                    <td>{{ custom.cusSurname }}</td>
                </tr>
                <!-- Many customers arrays -->
                <tr *ngFor="let cus of customers">
                    <th scope="row">{{ cus.cusId }}</th>
                    <td>{{ cus.cusName }}</td>
                    <td>{{ cus.cusSurname }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>